#Education{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

.EducationTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 0rem;
    margin-bottom: 0rem;

}

.EducationDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;

}

.EducationBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.EducationBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 4rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}



.EducationBarText>p {
    font-size: 1rem;
    font-weight: 200;

}

@media screen and (max-width:720px) {
    .EducationBarText>p {
        font-size: 2vw;
    }
    
}